html, body {
    margin: 0px;
}

.logo {

    position: relative;
    padding: 0px 0px 0px 0px;
}

.head {
/* Rectangle 5 */
display:flex;
justify-content: space-between;
position: fixed;
width: 100%;
height: 72px;
left: 0px;
top: 0px;

background: #FFFFFF;

box-shadow: 0px 5px 10px grey;
z-index: 20;
}

.uber {
    position: relative;
    width: 120px;
    margin: 30px 0px 0px 80px;
}

/* Rectangle */
.enter {
    position: relative;
    padding: 10px 20px 10px 20px;
    margin: 14px 143px 0px 0px;

    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px;
    background: #FFFFFF;
}

.enter:hover {
    border: 1px solid grey;
    border-radius: 3px;
}

.enter:active {
    background: #dff5f5;
}

.main {
    margin:72px;
}

h1 {
/* Search for restauran */

position: relative;
width: 235px;
height: 24px;
margin: 56px 0px 0px 0px;
padding: 56px 0px 0px 0px;

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: #626262;

mix-blend-mode: normal;
opacity: 0.5;

}

.br {
    /* Rectangle 6 */

position: relative;

height: 1px;
flex-grow: 3;

background: #757575;
mix-blend-mode: normal;
opacity: 0.3;
}

.moscow {
    /* Moscow Restaurants */

position: relative;
width: 217px;
height: 34px;
margin: 56px 0px 0px 0px;

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 34px;
/* identical to box height, or 155% */
display: flex;
align-items: center;

color: #1D1D1D;
}

.mcdonalds {
    margin-top: 16px;

}
.scale {
    display: inline-block;
    overflow: hidden;
}

.scale img {
    transition: 1s;
    display: block;
}

.scale img:hover {
    transform: scale(1.2);
}

.name {
    /* Макдоналдс — Газетны */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: #1D1D1D;
}

.cost {
    font-family: Roboto, sans-serif;
font-style: normal;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;

}


/* bg */
.bg {
    position: relative;
    width: 100%;
    height: 100%;
    
    background: #262626;
}

.wlogo {
    margin: 60px 0px 0px 81.62px;
}

.hr2 {
   /* Rectangle 7 */

position: relative;
margin: 40.69px 87px 0px 81px;
height: 1px;

background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.4;
 
}

.list {
    /* Rectangle 9 */
display: flex;
position: relative;
width: 227px;
margin: 32px 0px 0px 81px;
padding: 12.14px 0px 12.14px 16px;
background: #3B3B3B;
border-radius: 2px;


}

select {
    margin: 0px 0px 0px 16px;
    background: #3B3B3B;
    border: none;
    width: 100%;
    /* ENGLISH */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
/* identical to box height */
display: flex;
align-items: flex-end;

color: #FFFFFF;
}

.social {
    margin: 33px 0px 0px 81px;
}

.references {

    display: flex;
    flex-direction: column;
    margin: 39px 0px 0px 81px;


font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 36px;
text-align: right;
/* identical to box height */
display: flex;
align-items: flex-start;

color: #FFFFFF;
}

.stores {
    display: flex;
    justify-content: space-around;
    margin: 41px 35% 0px 35%;
}

.bottom {
/* © 2017 Uber Technolo */
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 40px 233px 0px 81px;
padding-bottom: 40px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 35px;
/* identical to box height */
display: flex;
align-items: flex-start;

color: #FFFFFF;
}

.up {
    /* Rectangle 4 */

position: fixed;
width: 80px;
height: 80px;
right: 16px;
bottom: 24px;

background: #59BD5A;
border-radius: 2px;

}